* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1024px;
    overflow: hidden;
}

.slides {
    display: flex;
    width: 400%;
    height: 100%;
}

.slide {
    width: 25%;
    transition: .5s ease-in-out;
}

.slide img {
    width: 100%;
}

input[name="r"] {
    visibility: hidden;
    position: absolute;
}

.nav {
    display: flex;
}

.button {
    width: 40px;
    height: 40px;
    padding: 10px;
}

.button span {
    display: block;
    width: 20px;
    height: 20px;
    border: 3px solid red;
    background-color: red;
    border-radius: 50%;
}

.button:hover span {
    border-color: black;
    background-color: black;
}



#r1:checked ~ .slides .s1 {
    margin-left: 0;
}

#r2:checked ~ .slides .s1 {
    margin-left: -25%;
}

#r3:checked ~ .slides .s1  {
    margin-left: -50%;
}

#r4:checked ~ .slides .s1  {
    margin-left: -75%;
}



#r1:checked ~ .nav label[for=r1] span,
#r2:checked ~ .nav label[for=r2] span,
#r3:checked ~ .nav label[for=r3] span,
#r4:checked ~ .nav label[for=r4] span {
  background: transparent;
  border: 0.2rem solid black;
}
